<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.larry_sea.norember">

    <application
        android:name=".application.NoremberApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.LockScreenActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".MainActivity"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme" />
        <activity
            android:screenOrientation="portrait"
            android:name=".view.activity.TestFragmentActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:screenOrientation="portrait"
            android:name=".view.activity.AddWebSiteActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.activity.AddWebSiteInforActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:screenOrientation="portrait"
            android:name=".view.activity.AddLoginActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme" />

        <activity
            android:screenOrientation="portrait"
            android:name=".view.activity.OpenAutoLoginSetting"
            android:theme="@style/AppTheme" />


        <activity
            android:screenOrientation="portrait"
            android:name=".view.activity.list_storage_type_activity.BankCardListActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:screenOrientation="portrait"
            android:name=".view.activity.list_storage_type_activity.BasePasswordListActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:screenOrientation="portrait"
            android:name=".view.activity.ChooseStorageTypeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:screenOrientation="portrait"
            android:name=".view.activity.storage_type_activity.SafeNoteActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:screenOrientation="portrait"
            android:name=".view.activity.PasswordActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:screenOrientation="portrait"
            android:name=".view.activity.storage_type_activity.CreditCardActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:screenOrientation="portrait"
            android:name=".view.activity.storage_type_activity.IdCardActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:screenOrientation="portrait"
            android:name=".view.activity.storage_type_activity.WifiActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:screenOrientation="portrait"
            android:name=".view.activity.storage_type_activity.MailActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:screenOrientation="portrait"
            android:name=".view.activity.storage_type_activity.BankCardActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:screenOrientation="portrait"
            android:name=".view.activity.list_storage_type_activity.MailInforListActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:screenOrientation="portrait"
            android:name=".view.activity.list_storage_type_activity.WifiInforListActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:screenOrientation="portrait"
            android:name=".view.activity.list_storage_type_activity.CreditCardListActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:screenOrientation="portrait"
            android:name=".view.activity.list_storage_type_activity.IdCardListActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:screenOrientation="portrait"
            android:name=".view.activity.list_storage_type_activity.LoginInforListActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:screenOrientation="portrait"
            android:name=".view.customer.floatwindow.FloatWindowActivity"
            android:theme="@style/AppTheme" />


        <activity
            android:screenOrientation="portrait"
            android:name=".view.activity.SettingActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:screenOrientation="portrait"
            android:name=".view.activity.FeedBackActivity"
            android:theme="@style/AppTheme" />


        <activity
            android:screenOrientation="portrait"
            android:name=".view.activity.SafeFolderActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:screenOrientation="portrait"
            android:name=".view.activity.storage_type_activity.LoginInforActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:screenOrientation="portrait"
            android:name=".view.activity.list_storage_type_activity.SafeNoteListActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:screenOrientation="portrait"
            android:name=".view.activity.SyncActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:screenOrientation="portrait"
            android:name=".view.activity.ResetMainPasswordActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />


        <activity
            android:screenOrientation="portrait"
            android:name=".view.activity.WelcomeActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:screenOrientation="portrait"
            android:name=".view.activity.TestResumeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:screenOrientation="portrait"
            android:name=".view.activity.FingerActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:screenOrientation="portrait"
            android:name=".test.testExportData"
            android:theme="@style/AppTheme" />
        <activity
            android:screenOrientation="portrait"
            android:name=".test.TestActivity"
            android:theme="@style/AppTheme" />

        <service
            android:name=".service.AutoLoginService"
            android:enabled="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />

            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility" />
        </service>
        <service android:name=".view.customer.floatwindow.FloatWindowService" />


    </application>

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />


</manifest>